{% extends 'parent.html' %}
{% block body %}
<!-- code for about cardiology department -->
<div class="container">
    <h2 class="text-center my-2">About Cardiology</h2>
    <p class="my-3" style="font-size: 1rem;">
        Cardiology is a branch of medicine that focuses on the diagnosis, treatment, and prevention of diseases and disorders related to the cardiovascular system. The cardiovascular system consists of the heart and blood vessels, which play a vital role in the circulation of blood throughout the body. Cardiologists are medical professionals who specialize in the field of cardiology and are trained to provide comprehensive care for patients with heart-related conditions.

        The heart is a complex organ responsible for pumping oxygen-rich blood to all parts of the body. It consists of four chambers: two atria and two ventricles. The atria receive blood from the body and lungs, while the ventricles pump the blood out to the rest of the body. The cardiovascular system also includes blood vessels, such as arteries, veins, and capillaries, which transport the blood.
        
        Cardiologists are trained to diagnose and treat a wide range of heart-related conditions, including coronary artery disease, heart failure, arrhythmias, valvular heart disease, and congenital heart defects. They use various diagnostic techniques to assess the structure and function of the heart, such as electrocardiography (ECG or EKG), echocardiography, cardiac catheterization, and stress testing. These tests help cardiologists evaluate the electrical activity, blood flow, and overall health of the heart.
        
        Once a diagnosis is made, cardiologists develop treatment plans tailored to each patient's specific condition. Treatment options may include medication, lifestyle modifications, cardiac rehabilitation, interventional procedures, or surgery. Cardiologists often work closely with other healthcare professionals, such as cardiac surgeons and interventional radiologists, to provide the most appropriate and effective care.
        
    </p>
</div>
{% endblock body %}