{% extends 'parent.html' %}
{% block body %}
<!-- code for about Gastro surgery department -->
<div class="container">
    <h2 class="text-center my-2">About Gastro Surgery</h2>
    <p class="my-3" style="font-size: 1rem;">
        Gastrointestinal (GI) surgery, also referred to as gastro surgery or gastrointestinal surgery, is a specialized branch of surgery that deals with the diagnosis, treatment, and surgical management of disorders affecting the digestive system. The digestive system includes organs such as the esophagus, stomach, small intestine, large intestine, liver, gallbladder, and pancreas.

        Gastrointestinal surgeons are highly trained medical professionals who specialize in performing surgical procedures on the gastrointestinal tract. They address a wide range of conditions, including gastrointestinal cancers, gastroesophageal reflux disease (GERD), inflammatory bowel disease (IBD), gallbladder diseases, hernias, and obesity-related disorders.
        
        Gastrointestinal surgery involves both open surgery and minimally invasive techniques, such as laparoscopy and robotic-assisted surgery. These procedures aim to remove tumors, repair or remove diseased organs, reconstruct the gastrointestinal tract, or alleviate symptoms that significantly affect a patient's quality of life.
        
        Some common gastrointestinal surgeries include gastrectomy (removal of part or all of the stomach), colectomy (removal of part or all of the colon), liver resection (removal of a portion of the liver), cholecystectomy (removal of the gallbladder), bariatric surgery (weight loss surgery), and surgical treatment for conditions like diverticulitis, appendicitis, and colorectal cancer.
        
        Gastrointestinal surgeons work closely with other healthcare professionals, including gastroenterologists, radiologists, oncologists, and nutritionists, to provide comprehensive care to patients. They collaborate to diagnose conditions, determine the most appropriate treatment plan, and manage post-operative care and follow-up.
        
        Advances in technology and surgical techniques have led to improved outcomes, reduced complications, and faster recovery times for patients undergoing gastrointestinal surgery. Gastrointestinal surgeons continually stay updated with the latest advancements to provide the best possible care to patients with digestive system disorders
    </p>
</div>
{% endblock body %}