{% extends 'parent.html' %}
{% block body %}
<!-- code for about Neuro Surgery department -->
<div class="container">
    <h2 class="text-center my-2">About Neuro Surgery</h2>
    <p class="my-3" style="font-size: 1rem;">
        Neurosurgery is a specialized field of medicine that focuses on the diagnosis, treatment, and surgical management of disorders affecting the nervous system, including the brain, spinal cord, and peripheral nerves. Neurosurgeons are highly skilled medical professionals who undergo extensive training to perform intricate surgical procedures to address a wide range of neurological conditions.

The nervous system is a complex network that controls and coordinates the body's functions, including movement, sensation, cognition, and vital organ control. Neurological disorders can arise from various causes, such as traumatic injuries, tumors, infections, degenerative diseases, vascular disorders, and congenital abnormalities.

Neurosurgeons utilize advanced imaging techniques, such as magnetic resonance imaging (MRI) and computed tomography (CT), to diagnose and evaluate neurological conditions. They work closely with neurologists and other specialists to develop treatment plans tailored to each patient's specific needs. While surgery is a significant aspect of neurosurgery, non-surgical interventions, such as medication, physical therapy, and radiation therapy, are also employed when appropriate.

Neurosurgical procedures can involve delicate and intricate operations on the brain, spinal cord, and nerves. These may include brain tumor removal, treatment of cerebral aneurysms and arteriovenous malformations, spinal cord decompression and fusion, treatment of peripheral nerve disorders, deep brain stimulation for movement disorders, and surgical treatment of epilepsy.

Neurosurgery requires precision, meticulous attention to detail, and a comprehensive understanding of neuroanatomy and neurophysiology. With advances in technology and surgical techniques, neurosurgeons continue to push the boundaries of what can be achieved in treating neurological disorders, improving patient outcomes, and enhancing quality of life.
    </p>
</div>
{% endblock body %}