{% extends 'parent.html' %}
{% block body %}
<!-- code for about orthopaedics department -->
<div class="container">
    <h2 class="text-center my-2">About Orthopaedics</h2>
    <p class="my-3" style="font-size: 1rem;">
        Orthopedics, also known as orthopedic surgery, is a medical specialty that focuses on the diagnosis, treatment, and prevention of conditions and injuries affecting the musculoskeletal system. The musculoskeletal system comprises bones, joints, muscles, ligaments, tendons, and other supporting structures that enable movement and provide support to the body.

        Orthopedic surgeons are highly skilled medical professionals who specialize in the field of orthopedics. They diagnose and treat a wide range of musculoskeletal conditions, including fractures, dislocations, sprains, strains, arthritis, sports injuries, spine disorders, congenital deformities, and musculoskeletal tumors.
        
        The field of orthopedics encompasses both surgical and non-surgical interventions. Orthopedic surgeons utilize various diagnostic tools, such as X-rays, MRI scans, and CT scans, to assess the extent of the condition and develop appropriate treatment plans. Non-surgical treatment options may include physical therapy, medication, bracing, and lifestyle modifications. When surgery is necessary, orthopedic surgeons employ advanced surgical techniques to correct deformities, repair injuries, and restore function.
        
        Common orthopedic surgical procedures include joint replacement surgery (such as hip or knee replacement), arthroscopy (a minimally invasive procedure to diagnose and treat joint conditions), fracture fixation, spine surgery, ligament and tendon repair, and corrective surgery for congenital abnormalities.
        
        Orthopedic surgeons often work in multidisciplinary teams, collaborating with physical therapists, occupational therapists, pain management specialists, and other healthcare professionals to provide comprehensive care to patients. They focus not only on treating the immediate condition but also on promoting rehabilitation and long-term functionality.
        
        Advancements in technology and research continue to enhance the field of orthopedics, allowing for improved surgical techniques, minimally invasive procedures, faster recovery times, and better outcomes for patients with musculoskeletal disorders and injuries.
    
    </p>
</div>
{% endblock body %}