{% extends 'adminparent.html' %}
{% block body %}
    <div class="container mt-3 w-25 bg-dark" style=" border-radius: 10px; border:1px solid; height: 80vh;width: 100%;">
        <h1 class="text-center text-white mt-2">Add Doctor</h1>
        <form method="post" action="{% url 'adminzone:addDoc' %}">
          {% csrf_token %}
            <hr>
            <p style="color:red; font-size: 30px;">{{msg}}</p>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" name="name" placeholder="name" required>
              <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating my-3">
              <input type="text" class="form-control" id="floatingContact" name="contact" placeholder="contact" required>
              <label for="floatingContact">Contact</label>
            </div>
            <div class="form-floating my-3">
                <input type="text" class="form-control" id="floatingD" name="department" placeholder="Department" required>
                <label for="floatingD">Department</label>
              </div>
            <div class="form-floating my-3">
                <input type="text" class="form-control" id="floatingID" name="docId" placeholder="Doctor Id" required>
                <label for="floatingId">Doctor Id</label>
            </div>
            <div class="form-floating my-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
              </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" >Add</button>
           </form>
        </div>
</div>

{% endblock body %}